<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark fixed-top" role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
  <a class="navbar-brand" href="#"><img src="assets/ifs-vector-logo.png" class="d-inline-block align-top"> Welfare Events</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

</div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent15">
     
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-success" type="submit">Search</button>

    </form>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

        
    <a class="btn btn-primary btn-lg-0 mr-sm-3" href="NewEvent">New Event</a>
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          My Events
        </a>
                     
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">My Event 01</a>
          <a class="dropdown-item" href="#">My Event 02</a>
          <a class="dropdown-item" href="#">My Event 03</a>
        </div>
      </li>
     
      <!-- notification icon -->
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
      </li>


       <!-- user icon   -->
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">My Account</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li>
        
        
      </ul>
    </div>
  </div>
</nav>


