<footer class="bg-dark">
        <div class="row">
            <div class="col-lg-4">
                <h3>Contact</h3>
                <br>
                <h4>Contact info here</h4>
            </div>
            <div class="col-lg-4">
                <h3>Connect</h3>
                <a href="#" class="fa fa-facebook padded-fonticons"></a>
                <a href="#" class="fa fa-twitter padded-fonticons"></a>
                <a href="#" class="fa fa-google padded-fonticons"></a>
                <a href="#" class="fa fa-linkedin padded-fonticons"></a>
                <a href="#" class="fa fa-youtube padded-fonticons"></a>
                <a href="#" class="fa fa-instagram padded-fonticons"></a>
            </div>
            <div class="col-lg-4">
                <h3>Organizing Committe</h3>
                <h4>Contacts details</h4>
            </div>
        </div>
</footer>